/.DS_Store
AWS/.terraform/*
AWS/.terraform.lock.hcl
AWS/terraform.tfvars
AWS/terraform.tfstate.backup
AWS/terraform.tfstate
AWS/terraform.personal
AWS/*.pem
AWS/authorized_keys
AWS/*.txt
Azure/.terraform/*
Azure/.DS_Store
Azure/.terraform.lock.hcl
Azure/cribl_vars.yml
Azure/notes.txt
Azure/terraform.tfstate
Azure/terraform.tfstate.backup
Azure/terraform.tfvars
Azure/test.yaml
.gitignore
.gitignore
