[defaults]
host_key_checking = False
stderr_callback=debug
stdout_callback=debug
interpreter_python=auto_silent
inventory      = .
strategy = linear
sbin_ansible_callbacks = true
ANSIBLE_FORCE_COLOR = true
display_skipped_hosts = false
force_color = True
host_key_checking = False