region              = "us-west-2"
access_key          = "YOUR ACCES KEY"
secret_key          = "YOUR SECRET KEY"
lb_create             = false
leader_count          = 1
workers_count         = 2
worker_group          = "POV"
worker_size           = "t3.micro"
ec2_OS                = "ubuntu"
ec2_instance_user     = "povadmin"
satellite_box_size    = "t3.2xlarge"
satellite_disk_size   = 65
satellite_box         = true
splunk                = false
elk                   = false
redis                 = false
minio                 = false
syslog_port_tcp       = 9514
syslog_port_udp       = 9514
splunk_receiving_port = 9997
username              = "povadmin"
cribl_pass            = "passtest"
splunk_user           = "admin"
splunk_passwd         = "passtest"
elastic_user          = "elastic"
elastic_passwd        = "passtest"